<%- include('partials/header.ejs') %> 

    <div style="color: grey">Dashboard</div>
    <div id="outer-container">
      <div id="sidebar">
        <a href="/"><button class="sidebar_btn">Dashboard</button></a>
      </div>
      <div id="content">
        <h1>Welcome Ravi</h1>
        <p>lorem ipsum is simply dummy text</p>
        <div class="add_div">
          <a class="add_btn" href="/createEvent">+</a>
          <p>Add Event</p>
        </div>
      </div>
    </div>
  </body>
</html>
